pkgbase = evm-contracts-tools
	pkgdesc = EVM networks smart contracts tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.1.1.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/evm-contracts-tools
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = evm-contracts-abi-get
	depends = nodejs-ethers
	depends = evm-wallet
	source = evm-contracts-tools-93f532355d9185edf769bc0a2ee102fd4d1ab502.zip::https://github.com/themartiancompany/evm-contracts-tools/archive/93f532355d9185edf769bc0a2ee102fd4d1ab502.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 5d2d7eaa0133028a504c099fa6b6d66247cd7c7ef8bad72f6ecb63476514f762

pkgname = evm-contracts-tools
